/* Design Geral */
body {
  margin: 0;
  border: 0;
  font-family: "Fira Sans";
  justify-items: center;
  gap: 0;
}
section {
  width: 75rem;
  padding: 2.5rem 1rem;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}

/* MENU */
header {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  justify-content: start;
  align-items: center;
}
header ul {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
  text-align: right;
}
header ul li {
  display: inline-block;
  margin-left: 3rem;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  padding: 0;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.text-hero {
  align-content: center;
}
.text-hero h1 {
  margin-bottom: 2rem;
}
.hero img {
  width: 360px;
}
.hero h1 {
  font-size: 4.5rem;
  line-height: 80px;
  font-weight: bold;
}
.hero p {
  font-size: 1.5rem;
  color: #525252;
}

/* EXPERIÊNCIA */
.exp {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 2.5rem;
}

.exp h2 {
  font-size: 8rem;
  font-weight: bold;
  color: #e0e0e0;
  line-height: 8rem;
  margin: 0;
}
.exp-titulo {
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}
.text-exp {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 1rem;
}
.texto-titulo-exp {
  grid-column: 2;
  gap: 0;
  padding-bottom: 2rem;
}
.texto-titulo-exp p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #525252;
  width: 35rem;
  padding-top: 0;
}
.exp strong {
  color: black;
}
.exp-ano {
  text-align: right;
  font-size: 0.9rem;
  color: #525252;
  padding-top: 2rem;
}

.board {
  background-color: #f0f0f0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.board h3 {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  margin: 0.5rem 0;
}
.board p {
  font-size: 0.9rem;
  color: #525252;
  line-height: 1.25rem;
}
.tag {
  font-size: 0.9rem;
  color: black;
  background-color: white;
  display: inline-block;
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
}

/* FORMAÇÃO */
.formacao {
  background-color: #141414;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-items: center;
}
.formacao-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 2.5rem;
  max-width: 1200px;
  padding: 8rem 1.5rem;
}
.formacao-titulo {
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}
.formacao-titulo h2 {
  font-size: 8rem;
  font-weight: bold;
  color: #000000;
  line-height: 8rem;
  margin: 0;
}
.formacao-colunas {
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.formacao-colunas p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #a3a3a3;
  margin-bottom: 4rem;
}
.formacao-colunas strong {
  color: white;
}
.formacao-titulo-texto {
  grid-column: 2;
  max-width: 35rem;
}
.formacao-icone {
  grid-column: 1;
}
.formacoes {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  color: white;
}
.formacoes-tags {
  background-color: #000000;
  border-radius: 4px;
  padding: 1rem;
}
.formacoes-tags p {
  margin-bottom: 0;
  font-size: 1.1rem;
  text-align: start;
}
.formacoes-tags h3 {
  font-size: 0.9rem;
  font-weight: normal;
  color: #a3a3a3;
  margin: 0;
}
.formacoes-tags h4 {
  font-size: 1.15rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.formacao-icone-book {
  grid-row: 3;
  justify-self: right;
  margin-right: 1rem;
  margin-top: 5rem;
  grid-column: 1;
}
.formacao-icone-idioma {
  grid-row: 4;
  grid-column: 1;
  justify-self: right;
  margin-right: 1rem;
  margin-top: 5rem;
}
.cursos-intensivos {
  margin-top: 5rem;
  color: #8f8f8f;
  font-size: 0.9rem;
  font-weight: bold;
}
.cursos-intensivos h4 {
  margin-top: 0.5rem;
}
.cursos-detalhe {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cursos-detalhe p {
  font-size: 1.1rem;
  color: white;
  font-weight: normal;
  margin-bottom: 0;
}
.cursos-ch p {
  text-align: right;
  color: #8f8f8f;
}
.idioma-detalhe h4 {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  color: #8f8f8f;
  font-size: 0.9rem;
}
.idioma-detalhe p {
  /* margin-top: 5rem; */
  font-size: 1.1rem;
  color: white;
  font-weight: normal;
  margin: 0;
}
.idioma-detalhe strong {
  color: #8f8f8f;
  font-weight: normal;
  font-size: 1rem;
}

/* FOOTER */
.last-section {
  background-color: black;
  width: 100%;
  padding: 7rem 0 3rem 0;
}

footer {
  justify-self: center;
  width: 75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer p {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 34rem;
  color: #e0e0e0;
  font-weight: 400;
}

footer h2,
footer a {
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
}

.copyright p {
  font-size: 1rem;
  font-weight: normal;
  color: #a3a3a3;
}
